---
layout: default
title: Samasaur1 | Blog
---
<div style="padding: 1.5em;">
<h1>Latest Posts</h1>
<!-- <a href="{{ "/feed.xml" | relative_url }}">
    <p>RSS/Atom feed <img src="{{ "/assets/images/feed-icon.png" | relative_url }}"/></p>
</a> -->
<a style="position: relative; top: -44px; float: right;" href="{{ "feed.xml" | relative_url }}">
    <img src="{{ "/assets/images/feed-icon.png" | relative_url }}"/>
</a>

<ul>
  {% for post in site.posts %}
    <li>
      {% include post.html %}
    </li>
  {% endfor %}
</ul>
<h2>Tags</h2>
  <ul>
    {% for tag in site.tags %}
      {% assign css-class = "badge-secondary" %}
      {% for site_tag in site.data.tags %}
        {% if site_tag.name == tag[0] %}
          {% if site_tag.class %}
            {% assign css-class = site_tag.class %}
          {% endif %}
        {% endif %}
      {% endfor %}
      <li>
        {% assign t = tag[0] %}
        {% include tag.html name=t %}
        ({{ tag[1] | size }})
      </li>
    {% endfor %}
  </ul>
</div>
<hr style="width: 90%;"/>
<footer style="padding: 5px; text-align: center;">
    <a href="{{ "/feed.xml" | relative_url }}" style="color: gray">RSS/Atom feed</a>
</footer>
<!-- <footer>rss</footer> -->
