{% capture default_slug %}{{ page.slug | default: (page.title | slugify) }}{% endcapture %}
{% capture slug %}{{ (page.slug | fallback: default_slug) | downcase | replace: '.', '-' | replace: '_' : '-' }}{% endcapture %}
{% assign comments_map = site.data.comments[slug] %}
{% assign comments = site.emptyArray %}
{% for comment in comments_map %}
  {% assign comments = comments | push: comment[1] %}
{% endfor %}
{% assign comment_count = comments | size %}
{% if comment_count > 0 %}
  {% assign author = site.data.authors[page.author] %}
<div id="comments">
  <h3>{% if comment_count == 1 %}One response{% else %}{{ comment_count }} responses{% endif %}</h3>
  <ol>
  {% assign sorted_comments = comments | sort: 'date' %}
  {% for comment in sorted_comments %}
    <li{% if comment.url %}{% if comment.url == site.url %} class="byauthor" {% endif %}{% endif %}>
      {% include comment.html %}
    </li>
  {% endfor %}
    <div class="hidden" id="comment-pending">
      <li>Your comment is now pending!</li>
    </div>
  </ol>
</div>
<script>
qp = new URLSearchParams(window.location.search);
name = qp.get("name") ?? "You";
body = qp.get("body") ?? "Your comment is now pending!";
gravatar = qp.get("gravatar") ?? "gravatar";
// I'm choosing not to support URLs
document.getElementById("comment-pending").innerHTML = `
  <li>
    <img alt="Gravatar for ${name}" src="https://secure.gravatar.com/avatar/${gravatar}?s=64&d=retro&r=pg" srcset="https://secure.gravatar.com/avatar/${gravatar}?s=128&d=retro&r=pg 2x" class="avatar avatar-64 photo" height="64" width="64">
    <blockquote id="comment id">
      <!--- TODO: Convert comment to markdown --->
      <div class="comment-body">${body}</div>
      <cite>
        ${name}
        &ndash;
        <span class="text-muted">Just now (pending)</span>
      </cite>
    </blockquote>
  </li>
`;
</script>
{% endif %}
{% if page.commenting == 'open' %}
{% include comment-new.html %}
{% endif %}
