{% if comment.url %}
<a href="{{ comment.url }}" rel="nofollow">
  <img alt="Gravatar for {{ comment.name | xml_escape }}" src="https://secure.gravatar.com/avatar/{{ comment.gravatar }}?s=64&amp;d=retro&amp;r=pg" srcset="https://secure.gravatar.com/avatar/{{ comment.gravatar }}?s=128&amp;d=retro&amp;r=pg 2x" class="avatar avatar-64 photo" height="64" width="64">
</a>
{% else %}
<img alt="Gravatar for {{ comment.name | xml_escape }}" src="https://secure.gravatar.com/avatar/{{ comment.gravatar }}?s=64&amp;d=retro&amp;r=pg" srcset="https://secure.gravatar.com/avatar/{{ comment.gravatar }}?s=128&amp;d=retro&amp;r=pg 2x" class="avatar avatar-64 photo" height="64" width="64">
{% endif %}

<blockquote id="{{ comment.id }}">
  <div class="comment-body">{{ comment.message | escape | markdownify }}</div>
  <cite>
    {% if comment.url %}
      <a href="{{ comment.url }}" rel="nofollow">{{ comment.name | xml_escape }}</a>&nbsp;{% if comment.url == site.url %}<span class="badge badge-info" style="font-style: normal;">Author</span>{% endif %}
    {% else %}
      {{ comment.name | xml_escape }}
    {% endif %}
    &ndash;
    <span class="text-muted" data-utc="{{ comment.date | date: "%FT%T%z" }}" id="comment-{{ comment.id }}">
      {{ comment.date | date: '%B' }}
      {% assign d = comment.date | date: "%-d" %}
      {% case d %}
        {% when '1' or '21' or '31' %}{{d}}st,
        {% when '2' or '22' %}{{d}}nd,
        {% when '3' or '23' %}{{d}}rd,
        {% else %}{{d}}th,
      {% endcase %}
      {{ comment.date | date: '%Y' }}
      at
      {% assign no_tz = comment.date | date: '%l:%M %p' | strip %}
      {% assign tz = comment.date | date: '%l:%M %p %Z' | strip %}
      {{ comment.date | date: '%l:%M %p %Z' }}{% if tz == no_tz %} UTC{% endif %}
    </span>
    <script>
      el = document.getElementById("comment-{{ comment.id }}");
      d = new Date(el.attributes["data-utc"].value);
      local_date = new Intl.DateTimeFormat("en-GB", { dateStyle: "medium" }).format;
      local_time = new Intl.DateTimeFormat("en-US", { timeStyle: "short" }).format;
      site_date = new Intl.DateTimeFormat("en-GB", { dateStyle: "medium", timeZone: "{{ site.timezone }}"}).format;
      site_time = new Intl.DateTimeFormat("en-US", { timeStyle: "short", timeZone: "{{ site.timezone }}"}).format;
      el.attributes["date-local"] = local_date(d) + " at " + local_time(d);
      el.attributes["date-sitetimezone"] = site_date(d) + " at " + site_time(d);
      el.removeAttribute("data-utc");

      convert = localStorage.getItem("convertToLocalTime");
      if (convert === null) {
        convert = false;
        localStorage.setItem("convertToLocalTime", false);
      } else if (convert === "true") {
        convert = true;
      } else {
        convert = false;
      }

      el.innerHTML = convert ? el.attributes["date-local"] : el.attributes["date-sitetimezone"];
    </script>
  </cite>
</blockquote>
