<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Samasaur1</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.navigation %}
        {% if item.dropdownitems[0] %}
          {% if page.url contains item.link %}
          <li class="nav-item dropdown active">
          {% else %}
          <li class="nav-item dropdown">
          {% endif %}
            <a class="nav-link dropdown-toggle" id="navbarDropdown{{ item.name | join: " " }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ item.name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ item.name | join: " " }}">
              {% for subitem in item.dropdownitems %}
                <a class="dropdown-item" href="{{ item.link | append: subitem.link | relative_url }}">{{ subitem.name }}{% if page.url == subitem.link %}<span class="sr-only"> (current)</span>{% endif %}</a>
              {% endfor %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ item.link | append: "/" | relative_url }}">All {{ item.name | downcase }}{% if page.url == item.link %}<span class="sr-only"> (current)</span>{% endif %}</a>
            </div>
          </li>
        {% else %}
          {% if item.link == page.url %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ item.link | relative_url }}">{{ item.name }}<span class="sr-only"> (current)</span></a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.link | relative_url }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{{ "search.html" | relative_url }}" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search-field" name="q">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <script type="text/javascript">
      window.addEventListener("keydown", function(e){
        if ((e.ctrlKey || e.metaKey) && e.keyCode === 70) { //⌘F or ⌃F (find on page)
          e.preventDefault();
          document.getElementById("search-field").focus();
        }
      });
    </script>
  </div>
</nav>
