.card {
  // margin: 1em;
}
// language colors from https://github.com/ozh/github-colors
.badge-swift {
  background-color: #ffac45;
  color: #111111;
}
.badge-python {
  background-color: #3572A5;
  color: #ffffff;
}
.badge-java {
  background-color: #b07219;
  color: #ffffff;
}
.badge-kotlin {
  background-color: #F18E33;
  color: #ffffff;
}
%icon {
  display: inline-block;
  content: "";
  width:1em;
  height:1em;
  margin-bottom: -2px;
  background-repeat: no-repeat;
  background-position: left top;
}
.icon-library {
  @extend %icon;
  background-image: url("/assets/images/package.svg");
}
.icon-executable {
  @extend %icon;
  background-image: url("/assets/images/terminal.svg");
}
//icon-github from https://fontawesome.com/icons/github?style=brands
// license: https://fontawesome.com/license
.icon-github {
  @extend %icon;
  background-image: url("/assets/images/github.svg");
  margin-bottom: -3px;
}
.icon-app {
  @extend %icon;
  background-image: url("/assets/images/app.svg");
}
//icon-appstore from https://fontawesome.com/icons/app-store-ios?style=brands
// license: https://fontawesome.com/license
.icon-appstore {
  @extend %icon;
  background-image: url("/assets/images/appstore.svg");
  // https://codepen.io/sosuke/pen/Pjoqqp (filtering svg into desired color)
}
.project-sidebar {
  width: 23em;
  background-color: lightgray;
  border-radius: 1em;
}
