.card {
  // margin: 1em;
}
// language colors from https://github.com/ozh/github-colors
.badge-swift {
  background-color: #ffac45;
  color: #111111;
}
.badge-python {
  background-color: #3572A5;
  color: #ffffff;
}
.badge-java {
  background-color: #b07219;
  color: #ffffff;
}
.badge-kotlin {
  background-color: #F18E33;
  color: #ffffff;
}

%icon {
  display: inline-block;
  content: "";
  width:1em;
  height:1em;
  margin-bottom: -2px;
  background-repeat: no-repeat;
  background-position: left top;
}
.icon-library {
  @extend %icon;
  background-image: url("/assets/images/package.svg");
}
.icon-executable {
  @extend %icon;
  background-image: url("/assets/images/terminal.svg");
}
//icon-github from https://fontawesome.com/icons/github?style=brands
// license: https://fontawesome.com/license
.icon-github {
  @extend %icon;
  background-image: url("/assets/images/github.svg");
  margin-bottom: -3px;
}
.icon-app {
  @extend %icon;
  background-image: url("/assets/images/app.svg");
}
//icon-appstore from https://fontawesome.com/icons/app-store-ios?style=brands
// license: https://fontawesome.com/license
.icon-appstore {
  @extend %icon;
  background-image: url("/assets/images/appstore.svg");
  // https://codepen.io/sosuke/pen/Pjoqqp (filtering svg into desired color)
}
.icon-star-fill {
  @extend %icon;
  background-image: url("/assets/images/star-fill.svg");
}
.icon-star-half {
  @extend %icon;
  background-image: url("/assets/images/star-half.svg");
}
.icon-star-empty {
  @extend %icon;
  background-image: url("/assets/images/star.svg");
}

.project-sidebar {
  width: 23em;
  background-color: lightgray;
  border-radius: 1em;
}

.hidden-transition {
  transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
  overflow: hidden;
}

@font-face{
    font-family: 'JetBrains Mono';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

pre, code, kbd {
   font-family:'JetBrains Mono';
}

pre {
  padding: 1rem;
  border-radius: .25rem;
  background-color: lightgray;
}

.search-highlight {
  background-color: yellow;
  padding: 5px;
  border-radius: 5px;
}

kbd .search-highlight {
  color: black;
}

.search-highlight.search-highlight-current {
  background-color: orange;
  font-weight: bold;
}

.search-highlight-search {
    visibility: hidden;
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    padding:10px 12px
}

.search-highlight-search .term {
    width: 200px;
    text-overflow: ellipsis;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 14px;
    padding:3px 0 0
}

.search-highlight-search .meta {
    display: flex;
    flex:0 0 auto
}

.search-highlight-search .count {
    padding: 4px 10px 0;
    color: #828282;
    font-size:12px
}

.search-highlight-search .controls {
    border-left: 1px solid #828282;
    padding-left:10px
}

.search-highlight-search .controls button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #424242;
    font-weight: 700;
    font-size: 18px;
    margin:0 2px
}

.search-highlight-search .controls button:hover {
    background-color:#e8e8e8
}

@media screen and (max-width: 800px) {
    .search-highlight-search {
        top:72px
    }
}

@media screen and (max-width: 500px) {
    .search-highlight-search {
        right: 10px;
        left:10px
    }
}
