.card {
  // margin: 1em;
}
// language colors from https://github.com/ozh/github-colors
.badge-swift {
  background-color: #ffac45;
  color: #111111;
}
.badge-python {
  background-color: #3572A5;
  color: #ffffff;
}
.badge-java {
  background-color: #b07219;
  color: #ffffff;
}
.badge-kotlin {
  background-color: #F18E33;
  color: #ffffff;
}

%icon {
  display: inline-block;
  content: "";
  width:1em;
  height:1em;
  margin-bottom: -2px;
  background-repeat: no-repeat;
  background-position: left top;
}
.icon-library {
  @extend %icon;
  background-image: url("/assets/images/package.svg");
}
.icon-executable {
  @extend %icon;
  background-image: url("/assets/images/terminal.svg");
}
//icon-github from https://fontawesome.com/icons/github?style=brands
// license: https://fontawesome.com/license
.icon-github {
  @extend %icon;
  background-image: url("/assets/images/github.svg");
  margin-bottom: -3px;
}
.icon-app {
  @extend %icon;
  background-image: url("/assets/images/app.svg");
}
//icon-appstore from https://fontawesome.com/icons/app-store-ios?style=brands
// license: https://fontawesome.com/license
.icon-appstore {
  @extend %icon;
  background-image: url("/assets/images/appstore.svg");
  // https://codepen.io/sosuke/pen/Pjoqqp (filtering svg into desired color)
}
.icon-star-fill {
  @extend %icon;
  background-image: url("/assets/images/star-fill.svg");
}
.icon-star-half {
  @extend %icon;
  background-image: url("/assets/images/star-half.svg");
}
.icon-star-empty {
  @extend %icon;
  background-image: url("/assets/images/star.svg");
}

.project-sidebar {
  width: 23em;
  background-color: lightgray;
  border-radius: 1em;
}

.hidden-transition {
  transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
  overflow: hidden;
}

@font-face{
    font-family: 'JetBrains Mono';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMonoNL-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

pre, code, kbd {
   font-family:'JetBrains Mono';
}

pre {
  padding: 1rem;
  border-radius: .25rem;
  background-color: lightgray;
}

#post-main-content {
  padding: 1.5em;
}
