---
layout: default
---
<div id="post-main-content">
  <h1 class="mb-0 pb-0">{{ page.title }}</h1>
  <p class="mt-0 pt-0 text-muted">
  <span data-utc="{{ page.date | date: "%FT%T%z" }}" id="post-date">{{ page.date | date: "%d %b %Y %l:%M %p" }}</span>
  <script type="text/javascript">
    el = document.getElementById("post-date");
    d = new Date(el.attributes["data-utc"].value);
    _date = new Intl.DateTimeFormat("en-GB", { dateStyle: "medium" }).format;
    _time = new Intl.DateTimeFormat("en-US", { timeStyle: "short" }).format;
    el.innerHTML = _date(d) + " " + _time(d);
  </script>
  {% if page.tags[0] %}
    &nbsp;&nbsp;
    {% for tag in page.tags %}
      {% assign css-class = "badge-info" %}
      {% for site_tag in site.data.tags %}
        {% if site_tag.name == tag %}
          {% if site_tag.class %}
            {% assign css-class = site_tag.class %}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% capture link %}/tags/{{ tag | replace: " ", "-" }}{% endcapture %}
      <a href="{{ link | relative_url }}" class="badge {{ css-class }}">{{ tag }}</a>
    {% endfor %}
  {% endif %}
  {% if page.last_updated %}
    &nbsp;&nbsp;updated <span data-utc="{{ page.last_updated | date: "%FT%T%z" }}" id="update-date">{{ page.last_updated | date: "%d %b %Y %l:%M %p" }}</span>
    <script type="text/javascript">
      el = document.getElementById("update-date");
      d = new Date(el.attributes["data-utc"].value);
      _date = new Intl.DateTimeFormat("en-GB", { dateStyle: "medium" }).format;
      _time = new Intl.DateTimeFormat("en-US", { timeStyle: "short" }).format;
      el.innerHTML = _date(d) + " " + _time(d);
    </script>
  {% endif %}
  </p>
  <hr style="border: 1px solid;"/>
  {{ content }}
</div>
