---
layout: default
---
<div id="post-main-content">
  <h1 class="mb-0 pb-0">{{ page.title }}</h1>
  <p class="mt-0 pt-0 text-muted">
  <span data-utc="{{ page.date | date: "%FT%T%z" }}" id="post-date">{{ page.date | date: "%d %b %Y %l:%M %p" }}</span>
  <script type="text/javascript">
    el = document.getElementById("post-date");
    d = new Date(el.attributes["data-utc"].value);
    _date = new Intl.DateTimeFormat("en-GB", { dateStyle: "medium" }).format;
    _time = new Intl.DateTimeFormat("en-US", { timeStyle: "short" }).format;
    el.attributes["date-local"] = _date(d) + " " + _time(d);
    el.attributes["date-sitetimezone"] = el.innerHTML;
    el.removeAttribute("data-utc");
  </script>
  {% if page.tags[0] %}
    &nbsp;&nbsp;
    {% for tag in page.tags %}
      {% assign css-class = "badge-info" %}
      {% for site_tag in site.data.tags %}
        {% if site_tag.name == tag %}
          {% if site_tag.class %}
            {% assign css-class = site_tag.class %}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% include tag.html name=tag %}
    {% endfor %}
  {% endif %}
  {% if page.last_updated %}
    &nbsp;&nbsp;updated <span data-utc="{{ page.last_updated | date: "%FT%T%z" }}" id="update-date">{{ page.last_updated | date: "%d %b %Y %l:%M %p" }}</span>
    <script type="text/javascript">
      el = document.getElementById("update-date");
      d = new Date(el.attributes["data-utc"].value);
      _date = new Intl.DateTimeFormat("en-GB", { dateStyle: "medium" }).format;
      _time = new Intl.DateTimeFormat("en-US", { timeStyle: "short" }).format;
      el.attributes["date-local"] = _date(d) + " " + _time(d);
      el.attributes["date-sitetimezone"] = el.innerHTML;
      el.removeAttribute("data-utc");
    </script>
  {% endif %}
    <span style="display: none;">
      <script>
        function updateCookie() {
          convert = document.getElementById("localtime").checked;
          localStorage.setItem("convertToLocalTime", convert);
          el = document.getElementById("post-date");
          el.innerHTML = convert ? el.attributes["date-local"] : el.attributes["date-sitetimezone"];
          {% if page.last_updated %}
            el = document.getElementById("update-date");
            el.innerHTML = convert ? el.attributes["date-local"] : el.attributes["date-sitetimezone"];
          {% endif %}
        }
      </script>
      <br/>
      <span class="pb-0 pt-0 mb-0 mt-0" style="font-size: 60%;">
        <input type="checkbox" name="localtime" id="localtime" checked onchange="updateCookie()" style="transform: scale(0.6) translateY(3px);"/>convert to local time zone
      </span>
      <script>
        convert = localStorage.getItem("convertToLocalTime");
        if (!convert) {
          convert = false;
          localStorage.setItem("convertToLocalTime", false);
        } else {
          convert = true;
        }
        document.getElementById("localtime").checked = convert;

        if (convert) {
          el = document.getElementById("post-date");
          el.innerHTML = el.attributes["date-local"];
          {% if page.last_updated %}
            el = document.getElementById("update-date");
            el.innerHTML = el.attributes["date-local"];
          {% endif %}
        }
      </script>
    </span>
  </p>
  <hr style="border: 1px solid;"/>
  {{ content }}
  <hr style="border: 1px solid;"/>
  <div id="post-comments">
  {% include comments.html %}
  </div>
</div>
