---
layout: default
---
<div id="post-main-content">
<h1 class="mb-0 pb-0">{{ page.title }}</h1>
<p class="mt-0 pt-0 text-muted">
{{ page.date | date_to_string }}
  {% if page.tags[0] %}
    &nbsp;&nbsp;
    {% for tag in page.tags %}
      {% assign css-class = "badge-info" %}
      {% for site_tag in site.data.tags %}
        {% if site_tag.name == tag %}
          {% if site_tag.class %}
            {% assign css-class = site_tag.class %}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% capture link %}/tags/{{ tag | replace: " ", "-" }}{% endcapture %}
      <a href="{{ link | relative_url }}" class="badge {{ css-class }}">{{ tag }}</a>
    {% endfor %}
  {% endif %}
</p>
<hr style="border: 1px solid;"/>
{{ content }}
</div>
