---
layout: default
---
<div class="container-fluid">
  <div class="row pt-3">
    {% comment %}{% raw %}
    {% assign pn = page.name | split: "." | first %}{% for proj in site.data.projects %}{% assign lc = proj.name | downcase %}{% if pn == lc %}
    This new version of the Liquid check (that iterates through all projects for a matching one) should be better overall (less likelihood for error)
    in addition to working with names that have spaces in them. (otherwise, I could have used join)
    {% endraw %}{% endcomment %}
    {% assign pn = page.name %}{% for proj in site.data.projects %}{% assign lc = proj.link | split: "/" | last %}{% if pn == lc %}
    <div class="col-auto order-1 order-md-2">
      <div class="project-sidebar p-3">
        <h2>
          {{ proj.name }}
          {% if proj.repo_url %}
            <a href="{{proj.repo_url}}" class="icon-github float-right"></a>
          {% endif %}
        </h2>
        <p>{{ proj.description }}</p>
        <span class="icon-{{proj.type}}"></span> {{ proj.type | capitalize }}
        <span class="float-right">
          {% for lang in proj.languages %}
            <span class="badge badge-pill badge-{{ lang | downcase }}">{{ lang }}</span>
          {% endfor %}
        </span>
      </div>
    </div>
    {% endif %}{% endfor %}
    <div class="col order-2 order-md-1">
      {{content}}
    </div>
  </div>
</div>
