---
layout: default
---
<div class="container-fluid">
  <div class="row pt-3">
    {% assign pn = page.name | split: "." | first %}{% for proj in site.data.projects %}{% assign lc = proj.link | split: "/" | last | split: "." | first %}{% if pn == lc %}
    <div class="col-auto order-1 order-md-2">
      <div class="project-sidebar p-3">
        <h2>
          {{ proj.name }}
          {% if proj.repo_url %}
            <a href="{{proj.repo_url}}" class="icon-github float-right"></a>
          {% endif %}
        </h2>
        <p>{{ proj.description }}</p>
        {% if proj.appstore_url %}
          <span id="project-type-click-target" class="border border-dark p-1 rounded-lg"><span class="icon-{{proj.type}}"></span> {{ proj.type | capitalize }}</span>
        {% else %}
          <span class="icon-{{proj.type}}"></span> {{ proj.type | capitalize }}
        {% endif %}
        <span class="float-right">
          {% for lang in proj.languages %}
            <span class="badge badge-pill badge-{{ lang | downcase }}">{{ lang }}</span>
          {% endfor %}
        </span>
        {% if proj.appstore_url %}
          <div class="hidden-transition" id="appstore-get-hidden">
            <br/>
            <a href="{{proj.appstore_url}}"><img src="/assets/images/appstore-get-ios.svg"/></a>
            <span class="float-right" id="appstore-rating-container"></span>
            <script type="text/javascript">
              var btn = document.getElementById('project-type-click-target');
              var hint = document.getElementById('appstore-get-hidden');
              var height = hint.clientHeight;
              hint.style.height = '0px';
              hint.style.visibility = 'hidden';

              btn.addEventListener('click', function(){
                if(hint.style.visibility == 'hidden'){
                  hint.style.visibility = 'visible';
                  //hint.style.opacity = '1';
                  hint.style.height = height + 'px';
                }
                else{
                  hint.style.visibility = 'hidden';
                  //hint.style.opacity = '0';
                  hint.style.height = '0';
                }
              });

              let url="{{ proj.appstore_url }}";
              let id = url.split("/").pop().substring(2);
              url = "http://itunes.apple.com/lookup?id=" + id;
              var appDataReceiver = function(response) {
                window.appData = response["results"][0]; //now accessible as window.appData anywhere or appData from script tags.
                let average = appData["averageUserRating"];
                let currentAverage = appData["averageUserRatingForCurrentVersion"];
                let rating = Math.max(average, currentAverage);
                let el = document.getElementById("appstore-rating-container");
                let full = Math.floor(rating);
                let empty = Math.floor(5 - rating);
                let half = 5 - (full + empty);
                for (let i = 0; i < full; i++) {
                  el.innerHTML += "<span class=\"icon-star-fill m-1\"></span>";
                }
                for (let i = 0; i < half; i++) {
                  el.innerHTML += "<span class=\"icon-star-half m-1\"></span>";
                }
                for (let i = 0; i < empty; i++) {
                  el.innerHTML += "<span class=\"icon-star-empty m-1\"></span>";
                }
              }
              document.write("<script src=\"" + url + "&callback=appDataReceiver\"><\/script>");
            </script>
          </div>
        {% endif %}
      </div>
      {% if page.sidebar %}
      <div style="width:23em;" class="p-3">
        <ol>
          {% for child in page.sidebar %}
            <li>
              <a href="#{{child.title | split: " " | join: "-" | downcase}}">{{child.title}}</a>
              {% if child.children %}
                <ol>
                  {% for subchild in child.children %}
                    <li>
                      <a href="#{{subchild.title | split: " " | join: "-" | downcase}}">{{subchild.title}}</a>
                    </li>
                  {% endfor %}
                </ol>
              {% endif %}
            </li>
          {% endfor %}
        </ol>
      </div>
      {% endif %}
    </div>
    {% endif %}{% endfor %}
    <div class="col order-2 order-md-1">
      {{content}}
    </div>
  </div>
</div>
